@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/globals.css */
@keyframes zoomIn {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(3);
    }
  }
  
  .text-zoom {
    animation: zoomIn 0.5s ease-in-out;
  }
  